/* Copyright (C) 2021 Andreas Andersson */

#ifndef SETTINGS_H
#define SETTINGS_H

const char* wifiSSID = "YourSSID";
const char* wifiPassword = "YourPassword";

// Schematics
//
// ARDUINO UNO  ESP8266
// 6            RXD
// 7            TXD
// 3.3V         VCC
// 3.3V         CHPD
// GND          GND

#endif // SETTINGS_H