/* Copyright (C) 2021 Andreas Andersson */

#ifndef SETTINGS_H
#define SETTINGS_H

const char* wifiSSID = "YourSSID";
const char* wifiPassword = "YourPassword";
const char* serverAddr = "IP or URL";
const int serverPort = 80;

// Schematics
//
// ARDUINO UNO  ESP8266
// 6            RXD
// 7            TXD
// 3.3V         VCC
// 3.3V         CHPD
// GND          GND
//
//              HC-SR04
// 11           Trig
// 12           Echo
// 5V           Vcc
// GND          GND


#endif // SETTINGS_H